extends ../../layout

block append head
    -var titlePage='Profile'
    link(rel="stylesheet", href="/styles/profile.css")
    block styles
    
    if (owner)
        link(rel="stylesheet", href="/styles/uploadImg.css")
        
block content
    .user-profile
        .user-profile__info-block
            .user-profile__content    
                .user-profile__info-block-content
                    .user-profile__avatar
                        .user-profile__avatar-c.js-avatar
                            img(src=`${user ? user.avatarUrl : ""}`, alt="")
                            if (owner)
                                .user-profile__avatar-upload
                                    i.fas.fa-camera
                                    span Upload
                    .user-profile__form-edit
                        if (owner)                                        
                            input.user-profile__form-edit-name.js-data-edit(value=`${user ? user.name : ""}` data-edit='name')
                        else 
                            span.user-profile__form-edit-name=user.name
                    .user-profile__form-edit
                        if (owner) 
                            input.user-profile__form-edit-describe.js-data-edit(placeholder='Describe yourself in a few words' value=`${user ? user.describe ? user.describe : '' : ""}` data-edit='describe')                                                 
                        else 
                            span.user-profile__form-edit-describe=user.describe
        .user-profile__tab-bar
            .user-profile__content
                .user-profile__tabs
                    block varibale
                    -var items = ['Profile','Posts','Likes']
                    each item in items
                        -var url = `/${owner ? 'me' : 'users/'+user.username}/${item.toLowerCase()}`
                        a.user-profile__tab(href=url class=`${active === item.toLowerCase() ? 'user-profile__tab--active' : ''}`)=item
        .user-profile__content
            block contentInner
    
    if (owner)              
        include ../../parts/uploadImg
                
block append script
    if (owner)
        script(src="/js/profile.js")
    if auth
        script(src='/js/index.js')