<!DOCTYPE html>
-var owner = true
-var user = true
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Profile
        include ../../parts/normalize
        link(rel="stylesheet", href="/styles/profile.css")
    body
        .wrapper-page
            include ../../parts/headerPage
            .content-page
                .user-profile

                    .user-profile__info-block
                        .user-profile__content    
                            .user-profile__info-block-content
                                .user-profile__avatar
                                    .user-profile__avatar-c.js-avatar
                                        img(src=`${user ? user.avatarUrl : ""}`, alt="")
                                        if (owner)
                                            .user-profile__avatar-upload
                                                i.fas.fa-camera
                                                span Upload
                                .user-profile__form-edit
                                    if (owner)                                        
                                        input.user-profile__form-edit-name.js-data-edit(value=`${user ? user.name : ""}` data-edit='name')
                                    else 
                                        span.user-profile__form-edit-name=user.name
                                .user-profile__form-edit
                                    if (owner) 
                                        input.user-profile__form-edit-describe.js-data-edit(placeholder='Describe yourself in a few words' value=`${user ? user.describe ? user.describe : '' : ""}` data-edit='describe')                                                 
                                    else 
                                        span.user-profile__form-edit-describe=user.describe
                    .user-profile__tab-bar
                        .user-profile__content
                            .user-profile__tabs
                                -var items = ['Profile','Posts','Likes']
                                each item in items
                                    a.user-profile__tab(href='/me/'+item.toLowerCase())=item
                    
                    .user-profile__content
                        .user-profile__c
                            .user-profile__heading
                                span.user-profile__title About Me
                                if (owner)
                                    .user-profile__edit-btn.js-edit-btn(data-state='show')
                                        i.fas.fa-pencil-alt
                                        span Edit
                                    .user-profile__edit-btn.js-edit-btn-ok(data-state='hidden')
                                        i.fas.fa-check
                                        span Ok
                            .user-profile__block.about-block
                                .about-block__c(data-state='show' data-action='ok')
                                    if (user && user.aboutMe)
                                        p=user.aboutMe
                                    else 
                                        p
                                if (owner)
                                    .about-block__c(data-state='hidden' data-action='edit')
                                        textarea.about-block__field(placeholder='About Me...')

                        .user-profile__c
                            .user-profile__heading
                                span.user-profile__title Posts by Vlad

                            .user-profile__block.post-block
                                .post-block__content
                                if (owner)
                                    .post-block__write
                                        i(class="fas fa-plus-circle")
                                        span Write a post
            if (owner)              
                .upload-img.js-upload(data-state='hidden')
                    .upload-img__c
                        .upload-img__close.js-upload-close
                            i.fas.fa-times
                        .upload-img__sidebar
                            .upload-img__sidebar-items
                                -var items = ['laptop','link']
                                each item in items
                                    .upload-img__sidebar-item.js-upload-sidebar(data-show=item)
                                        .upload-img__sidebar-item-c
                                            .upload-img__sidebar-item-icon
                                                i(class='fas fa-'+item)

                        .upload-img__content.js-upload-content(data-state='show' data-type='laptop')
                            .upload-img__content-heading
                                span My Device
                            .upload-img__content-c
                                .drop-area
                                    .drop-area__c
                                        .drop-area__select.js-select(data-state='show')
                                            .drop-area__select-labels
                                                span.drop-area__select-heading Select Files to Upload
                                                span.drop-area__select-subheading or Drag and Drop, Copy and Paste Files
                                            input.drop-area__select-input(type='file' id='userImg' name='userImg')

                        .upload-img__content.js-upload-content(data-state='hidden' data-type='link')
                            .upload-img__content-heading
                                span URL
                            .upload-img__content-c                        
                                form.upload-img__url.js-upload-form-url
                                    input.upload-img__url-input(type='text' name='userURLImg' id='userURLImg' placeholder='Enter a URL' required)
                                    button.btn.btn_primary Confirm
                    
                        .upload-img__content.js-preview(data-state='hidden' data-show='laptop')
                            .preview
                                .preview-c
                                .preview-action.js-preview-action
                                    button.btn(data-action='cancel') Cancel
                                    button.btn.btn_primary(data-action='save') Save

            //- include ../../parts/footer
            include ../../parts/signC
        
        script(src="/js/common.js")
        
        if (owner)
            script(src="/js/profile.js")