if posts
    .posts
        each post in posts
            .post
                .post__author
                    a(href=`/${post.author.username}`).post__author-avatar
                        img(src=`${post.author.avatarUrl}`, alt=`${post.author.name}`)
                    a(href=`/${post.author.username}`).post__author-name=post.author.name
                a(href=`/posts/post/${post.id}`).post__content
                    .post__body
                        h3.post__title=post.title
                        .post__summary=post.summary
                    .post__preview-img
                        img(src=post.mainImg, alt="")
                .post__footer
                        .btn.btn-heart
                            i(class="far fa-heart")
                            .btn-heart__number=post.comments.length
                        .post__comment
                            img(src="https://lite-cdn.codementor.io/static/images//Community/icon-comment.png", alt="")
                            span.post__comment-count=post.likes.length