if posts
    .posts
        each post in posts
            -var isLiked = false;
            -var link = `/posts/post/${post.id}`      
            if post.likes.length !== 0 && auth
                - isLiked = post.likes.some((id)=> id == authUser.id)
            
            .post
                .post__author
                    a(href=`/${post.author.username}`).post__author-avatar
                        img(src=`${post.author.avatarUrl}`, alt=`${post.author.name}`)
                    a(href=`/${post.author.username}`).post__author-name=post.author.name
                a(href=link).post__content
                    .post__body
                        h3.post__title=post.title
                        .post__summary=post.summary
                    .post__preview-img
                        img(src=post.mainImg, alt="")
                .post__footer
                        include ./likeElement
                        a.post__comment(href=link)
                            i.fas.fa-comments
                            span.post__comment-count=post.comments.length