if posts
    .posts
        each post in posts.reverse()
            -let isLiked = false;
            -const link = `/posts/post/${post.id}`
            -const linkOnAuthor = `/users/${post.author.username}`
            if auth && post.likes && post.likes.length != 0
                - isLiked = post.likes.some((id)=> id == authUser.id)
            
            .post
                .post__author
                    if post.author.avatarUrl
                        a(href=linkOnAuthor).post__author-avatar
                            img(src=`${post.author.avatarUrl}`, alt=`${post.author.name}`)
                        a(href=linkOnAuthor).post__author-name=post.author.name
                a(href=link).post__content
                    .post__body
                        h3.post__title=post.title
                        .post__summary=post.summary
                    .post__preview-img
                        img(src=post.mainImg, alt="")
                .post__footer
                        include ./likeElement
                        a.post__comment(href=link)
                            i.fas.fa-comments
                            span.post__comment-count= post.comments ? post.comments.length : 0