extends ../layout
block append head
    -var titlePage = 'Article'
    link(rel="stylesheet", href="/styles/article.css")        

block content
    -var isLiked = false;    
    if post.likes.length !== 0 && auth
        - isLiked = post.likes.some((id)=> id == authUser.id)
    .content
        .article
            header.article__header
                if owner
                    a(href=`/posts/edit/post/${post.id}`).article__edit
                        i.fas.fa-pencil-alt
                .article__author
                    a.article__avatar(href=`/users/${post.author.username}`)
                        img(src=`${post.author.avatarUrl}`, alt="avatar_author")
                    a.article__content(href=`/users/${post.author.username}`)
                        .article__name=post.author.name
                        .article__headline=post.author.describe
                
                h1.article__main-title=post.title
                //- .article__header-timestamps
                //-     - var dataP = new Date(post.dataPublish)
                //-     small.publish-date #{`${dataP.getDate()}.${dataP.getMonth() < 10 ?'0' + dataP.getMonth() : dataP.getMonth()}`}
                //-     //- small.updated-at=post.dataLastUpdate
            
            .article__main-img.article__img
                img(src=`${post.mainImg}`, alt="main_img" class='js-img')
                br
                - var ca = content.find((a)=>a.type === 'mainImg')
                if ca.caption
                    em=ca.caption
            
            .article__body
                each item in content
                    if item.type === 'par'
                        p!=item.text
                    else if item.type === 'title'
                        h2!=item.text
                    else if item.type === 'img'
                        figure.article__img
                            img(src=`${item.src}` alt="img" class='js-img')
                            br
                            if item.caption
                                em=item.caption
                    else if item.type === 'list'
                        ul
                            each i in item.items
                                li!=i
        
            footer.article__footer
                .article__tags
                    -var arrTopics = ['JavaScript','Node.js','TypeScript']
                    each topic in post.topics 
                        a.btn.btn_outline(href=`/topic/${topic}`)=topic
                .article__engager
                    include ../parts/likeElement
                    //- .btn.btn-heart.js-like(data-liked=`${isLiked}` data-post-id=post.id)
                    //-         i(class=`${isLiked ? 'fas' : 'far' } fa-heart js-icon-heart`)
                    //-         .btn-heart__number.js-number-likes=post.likes.length
                    .article__comment
                        img(src="https://lite-cdn.codementor.io/static/images//Community/icon-comment.png", alt="")
                        span.article__comment-count=post.comments.length
                
                .article__comments
                    if auth
                        .comment.no-border
                            .comment__c
                                a(href=`/users/${authUser.username}`).comment__avatar
                                        img(src=`${authUser.avatarUrl}`, alt="user")
                                .comment__body
                                    form.js-add-comment                               
                                        .comment__field
                                             textarea.comment__control(placeholder='Leave a comment' class='js-comment-control')
                                        .comment__footer(style='justify-content: flex-end;')
                                             button.btn.btn_primary Submit
                    .js-comments
                        -const comments = post.comments.reverse();
                        each comment in comments
                            .comment.js-comment(data-state='' data-comment-id=comment.id)
                                if auth && authUser.id == comment.author.id
                                    .comment__delete.js-comment-delete
                                        i(class="fas fa-times")
                                .comment__c
                                    a(href=`/users/${comment.author.username}`).comment__avatar
                                            img(src=`${comment.author.avatarUrl}`, alt="user")
                                    .comment__body
                                        .comment__info
                                            a(href=`/users/${comment.author.username}`).comment__name=comment.author.name
                                            span.comment__timestamp=comment.data
                                        .comment__content
                                            p=comment.comment
                                        //- .comment__footer
                                        //-     .comment__like.js-like
                                        //-         i(class="far fa-heart js-icon-heart")
                                        //-         span.comment__count.js-number-heart=comment.likes.length
                                            //- span.replay.js-replay Repaly
                                //- .comment__children.js-comment-children
                        //- .comment.js-comment(data-state)
                            .comment__delete.js-comment-delete
                                i(class="fas fa-times")
                            .comment__c
                                .comment__avatar
                                        img(src="", alt="")
                                .comment__body
                                    .comment__info
                                        a(href='#').comment__name Nick Lin
                                        span.comment__timestamp 4 hours ago
                                    .comment__content
                                        p Thank you for your good article. it’s so knowledgeable and skillful.
                                    .comment__footer
                                        .comment__like.js-like
                                            i(class="far fa-heart js-icon-heart")
                                            span.comment__count.js-number-heart 2
                                        span.replay.js-replay Repaly
                            .comment__children.js-comment-children


        .big-img-c.js-big-img
            .big-img
                img(src='#')

block append script
    script(src="/js/article.js")
    if auth
        script(src="/js/index.js")